@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" );
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url(bg.png);
}


.container{
    max-width: 700px;
    width: 100%;
    background: rgba(10, 10, 10, .45);
    border: 2px solid #3a1b22;
    padding: 25px 30px;
    border-radius: 15px;
}
.container .title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0 0 8px 0;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    /* background: #9b59b6; */
}
.container form .user-detail{
    display: flex;
    color: #b2405d;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-detail .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-detail .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-detail .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #3a1b22;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    color: #b2405d;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
    color: #b2405d;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}


form .country .country_name{
    display: inline-block;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding: 0 15px;
    cursor: pointer;
    border: 2px solid #3a1b22;
    color: #7b7b7b;
    border-radius: 5px;
    font-weight: 400;
}
form .country .country_name:focus,
form .country .country_name:hover{
    border-color: #9b59b6;
    outline: none;
}


form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    background: #b2405d;
   
}
form .button input:hover{
    background: #a1324e;
    cursor: pointer;
    
}
form .button input:active{
    transform: scale(0.95);
}






@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-detail .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-detail{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-detail::-webkit-scrollbar{
        width: 0;
    }

}